<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNkCPVNUhFS6uk1MwTclDqNma1R5c8yGA</string>
	<key>GCM_SENDER_ID</key>
	<string>583188282640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eacipher.shopapp.iosApp</string>
	<key>PROJECT_ID</key>
	<string>organizationapp-51a86</string>
	<key>STORAGE_BUCKET</key>
	<string>organizationapp-51a86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583188282640:ios:4c95c9b123b1b73db17995</string>
	<key>DATABASE_URL</key>
	<string>https://organizationapp-51a86-default-rtdb.firebaseio.com</string>
</dict>
</plist>